*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    color: orange;
    
}

.container{
   
    max-width: 1340px;
    margin: auto;
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.box{
  
    width: 400px;
    display: flex;
    
}
.box img{
    display: flex;
    align-items: end;
}
.box p{
   
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}


.container1{
    max-width: 1340px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}
.box1{
    
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.container2{
    max-width: 1340px;
    margin: auto;
   
    padding: 20px;
}
.box2{
   
    padding: 2px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}
.box2 p{
    font-family: Arial, Helvetica, sans-serif;
}


.container3{
    
    max-width: 1340px;
    margin: auto;
    padding: 30px;
    
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row;
    
}
.box3{
    border-right: 1px solid gainsboro;
    padding: 10px;
    max-width:850px;
   
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row;

}
.box-1{
width: 800px;
}
.box-1 h4{
    font-family: Arial, Helvetica, sans-serif;
    
}
.box-1a{
    
    width: 400px;
    padding-top: 20px;
}



.box-1a input{
    width: 390px;
    height: 40px;
}
.box-1a select{
    width: 390px;
    height: 40px;
}
.box-2{
    padding-top: 20px;
}
.box-2 input{
    width: 800px;
    height: 40px;
}
.box-3{
    max-width: 800px;
    padding-top: 20px;
}
.box-3 input{
    width: 800px;
    height: 100px;
}
.box-4{
    padding-top: 40px;
    width: 800px;
}  
.box-5{
    padding-top: 40px;
    width: 800px;
   
   text-align: end;
}
.box-5 button{
    width: 150px;
    height: 45px;
    font-size: 15px;
    background-color: orange;
    border: none;
    color: white;
}
.box-5 button:hover{
    background-color: rgb(255, 136, 0);
    color: white;
}

.box3-a{
   
    margin-left: 30px;
    padding: 20px;
    height: fit-content;
    position: sticky;
    z-index: 999;
    top:0px;
   
}
.box3-a input{
    width: 250px;
    height: 40px;
}
.box3-a button{
    width:60px;
    height:40px;
    background-color: orange;
    color: white;
    border: none;

}
.a-b{
    
    padding-top: 20px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    
}




.container7{
    max-width: 1340px;
    margin: auto;
    padding: 45px;
    
    justify-content: center;
   
    max-width: 1300px;
    display: flex;
    
}
.box-last{
   
    
    width: 100%;
    height: 100%;
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
    
}   
.box-last1{
    margin-top: 60px;
   
    width: 300px;
   
   
   
   
   
}
.box-last1 p{

    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif; 
   
}
.box-last1 i{

    color: #9aa1aa;
    font-size:21px;
}
ul{
    font-size: 17px;
    color: white;
    line-height: 30px;
    margin-left: 120px;
}
.box-last1 input{
  background: transparent;
  
  border:1px solid white;
  padding: 12px;
  width:250px;
  
}
 button{
    margin-top: 10px;
    background-color: white;
    color: orange;
    border: 1px solid white;
    font-size: 16px;
    width:250px;
    height: 40px;
}



@media (max-width:991px){
    .w-lg{
         width: 100%;
    }
    .box3 input{
        width: 100%;
    }
}